*{
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body,html{
    height: 100%;
}
body{
    background-size: cover;
}

.safe{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.safe::after{
    content: '';
    display: block;
    clear: both;
}

/*头部 开始*/
#header{
    height: 60px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.head_text{
    float: right;
}

.a{
    color: #666666;
    line-height: 60px;
}

.b{
    margin: 0 22px 0 13px;
}
/*头部 结束*/

/*banner开始*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    background-position: center center;
    background-size: cover;
}
.bg1{
    background-image: url(../img/bg.jpg);
}
.bg2{background: #4eb55f;}
.bg3{background: #eb9c36;}
.bg4{background: #ed683f;}
.bg5{background: #4c9bd7;}
.bg6{background: #356b95;}

/*banner1开始*/
.banner1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.f1-text1{
    color: #43698f;
    font-size: 27px;
    margin: 30px 0 90px 0;
}

.BtnGroup{
    font-size: 0;
}

.btn{
    height: 60px;
    width: 280px;
    background: white;
    border-radius: 10px;
    border: none;
    color: #24a9f1;
    font-size: 24px;
}

.btn> .iconfont{font-size: 24px;}

.jl{margin-right: 24px}

.f1-text2{
    margin: 52px 0 16px 0;
    font-size: 18px;
    color: white;
}
/*banner1结束*/

/*banner2开始*/
.bg2_img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline;
}

.f2-text{
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.f2-text>h1{
    color: white;
    font-size: 36px;
    margin: 0 0 26px 0;
}

.f2-text>p{
    color: white;
    font-size: 22px;
}
/*banner2结束*/

/*banner3开始*/
.f3-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.f3-text>h1{
    color: white;
    font-size: 36px;
    margin: 0 0 26px 0;
}

.f3-text>p{
    color: white;
    font-size: 22px;
}

.bg3_img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/*banner3结束*/

/*banner4开始*/
.bg4_img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
/*banner4结束*/

/*banner5开始*/
.bg5_img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.kd{
    width: 612px;
    line-height: 30px;
}
/*banner5结束*/

/*banner6开始*/
.bg6_img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.f6-text1{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.bg6_h1{
    color: white;
    font-size: 36px;
    margin: 0 0 26px 0;
}

.f6-text2{
    color: white;
    font-size: 22px;
    line-height: 36px;
}

.address{
    display: inline-block;
    width: 336px;
    vertical-align: top;
}
/*banner6结束*/
/*banner结束*/

/*底部浮动开始*/
.fixed{
    height: 150px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 0;
    z-index: 1;
}

.fixed_text1{
    font-size: 24px;
    margin-right: 47px;
}

.fixed_text2{
    font-size: 24px;
    margin: 0 20px 0 86px;
}

.fixed>img{
    width: 100px;
    vertical-align: middle;
}
/*底部浮动结束*/
